<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<target xsi:type="Console" name="consoleTarget"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level:uppercase=true:padding=-5} | ${logger:padding=-30} | ${message} ${exception:format=toString} | ${aspnet-TraceIdentifier}" />

		<target xsi:type="File" name="fileTarget"
				fileName="../../../../../output-files/nlog-logs-${shortdate}.log"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff zzz} | ${level:uppercase=true:padding=-5} | ${logger} | ${message} ${exception:format=toString}"
				keepFileOpen="false"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"
				archiveFileName="../../../../../output-files/nlog-logs.{#}.log" />

	</targets>

	<rules>
		
		<logger name="*" minlevel="Info" writeTo="consoleTarget" />
		<logger name="*" minlevel="Info" writeTo="fileTarget" />

		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
	</rules>
</nlog>